![lop](../../images/logo_diive1_128px.png)

<span style='font-size:32px; display:block;'>
<b>
    Read single EddyPro _fluxnet_ output file with ReadFileType
</b>
</span>

---
**Notebook version**: `1` (20 Apr 2024)  
**Author**: Lukas Hörtnagl (holukas@ethz.ch)

</br>

# Description

This example shows how to read the `EddyPro` `_fluxnet_` output file with `ReadFileType` and the pre-defined filetype `EDDYPRO-FLUXNET-CSV-30MIN`.

# Imports

In [1]:
import importlib.metadata
from datetime import datetime
from diive.core.io.filereader import ReadFileType
version_diive = importlib.metadata.version("diive")
print(f"diive version: v{version_diive}")

diive version: v0.74.0

## Using `ReadFileType` with pre-defined filetype `EDDYPRO-FLUXNET-CSV-30MIN`

In [2]:
filepath = r"F:\TMP\exampledata_EDDYPRO-FLUXNET-CSV-30MIN_CH-AWS_2022.07_FR-20220127-164245_eddypro_fluxnet_2022-01-28T112538_adv.csv"
rft = ReadFileType(filetype='EDDYPRO-FLUXNET-CSV-30MIN',
                   filepath=filepath)

Reading file exampledata_EDDYPRO-FLUXNET-CSV-30MIN_CH-AWS_2022.07_FR-20220127-164245_eddypro_fluxnet_2022-01-28T112538_adv.csv ...

In [3]:
df, meta = rft.get_filedata()

File data are now stored in a dataframe:

In [4]:
df

                     TIMESTAMP_START  DOY_START  DOY_END  FILENAME_HF  SW_IN_POT  NIGHT  ...  LW_IN_1_1_1  PA_1_1_1  PPFD_IN_1_1_1  RH_1_1_1  SW_IN_1_1_1  TA_1_1_1
TIMESTAMP_MIDDLE                                                                         ...
2021-07-01 00:15:00     2.021070e+11    182.000  182.021          NaN        0.0    1.0  ...      329.076   80.1982            0.0  100.0000          0.0   5.55880
2021-07-01 00:45:00     2.021070e+11    182.021  182.042          NaN        0.0    1.0  ...      340.771   80.2033            0.0  100.0000          0.0   5.59079
2021-07-01 01:15:00     2.021070e+11    182.042  182.062          NaN        0.0    1.0  ...      341.942   80.2106            0.0   99.8620          0.0   5.58350
2021-07-01 01:45:00     2.021070e+11    182.062  182.083          NaN        0.0    1.0  ...      349.003   80.2064            0.0   99.3662          0.0   5.55140
2021-07-01 02:15:00     2.021070e+11    182.083  182.104          NaN        0.0    1.0  ...      346.874   80.1922            0.0   99.9380          0.0   5.59066
...                              ...        ...      ...          ...        ...    ...  ...          ...       ...            ...       ...          ...       ...
2021-07-31 21:45:00     2.021073e+11    212.896  212.917          NaN        0.0    1.0  ...      371.057   79.9554            0.0  100.0000          0.0   9.07418
2021-07-31 22:15:00     2.021073e+11    212.917  212.937          NaN        0.0    1.0  ...      365.755   79.8740            0.0  100.0000          0.0   8.97548
2021-07-31 22:45:00     2.021073e+11    212.937  212.958          NaN        0.0    1.0  ...      367.545   79.8706            0.0  100.0000          0.0   8.96451
2021-07-31 23:15:00     2.021073e+11    212.958  212.979          NaN        0.0    1.0  ...      361.953   79.8445            0.0   99.9942          0.0   9.05935
2021-07-31 23:45:00     2.021073e+11    212.979  213.000          NaN        0.0    1.0  ...      355.789   79.8196            0.0   91.8199          0.0   9.17109

[1488 rows x 488 columns]

Metadata are also stored, which inlcudes units (if available in the data files) and tags (for later processing). In this example, the column `TIMESTAMP_END` was used to parse the timestamp index, and was thus removed from the data columns to avoid having identical names for index and data column. However, the original data column still shows up in the metadata.

In [5]:
meta

                      UNITS     TAGS                       ADDED VARINDEX
TIMESTAMP_START  -no-units-  [#orig]  2024-04-20 15:36:27.145739        0
TIMESTAMP_END           NaN      NaN                         NaN      NaN
DOY_START        -no-units-  [#orig]  2024-04-20 15:36:27.145739        1
DOY_END          -no-units-  [#orig]  2024-04-20 15:36:27.145739        2
FILENAME_HF      -no-units-  [#orig]  2024-04-20 15:36:27.145739        3
...                     ...      ...                         ...      ...
PA_1_1_1         -no-units-  [#orig]  2024-04-20 15:36:27.145739      483
PPFD_IN_1_1_1    -no-units-  [#orig]  2024-04-20 15:36:27.145739      484
RH_1_1_1         -no-units-  [#orig]  2024-04-20 15:36:27.145739      485
SW_IN_1_1_1      -no-units-  [#orig]  2024-04-20 15:36:27.145739      486
TA_1_1_1         -no-units-  [#orig]  2024-04-20 15:36:27.145739      487

[489 rows x 4 columns]

# End of notebook

In [6]:
dt_string = datetime.now().strftime("%Y-%m-%d %H:%M:%S")
print(f"Finished {dt_string}")

Finished 2024-04-20 15:36:27