![lop](../../images/logo_diive1_128px.png)
# **Calculate stats for time series**

**Last updated**: 17 Jun 2023
**Author**: Lukas HÃ¶rtnagl (holukas@ethz.ch)
---
Example for function `core.dfun.stats.sstats`of the time series processing library `diive`.

# Imports

In [1]:
from diive.configs.exampledata import load_exampledata_DIIVE_CSV_30MIN
from diive.core.dfun.stats import sstats

C:\Users\holukas\AppData\Local\pypoetry\Cache\virtualenvs\diive-7H5NxUqg-py3.9\lib\site-packages\statsmodels\compat\pandas.py:65: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import Int64Index as NumericIndex

# Load example data

In [2]:
data_df, metadata_df = load_exampledata_DIIVE_CSV_30MIN()
series = data_df['NEE_CUT_REF_orig']
series

Reading file exampledata_CH-DAV_FP2022.5_2022.07_ID20230206154316_30MIN.diive.csv ...

TIMESTAMP_MIDDLE
2022-07-01 00:15:00         NaN
2022-07-01 00:45:00         NaN
2022-07-01 01:15:00    1.304188
2022-07-01 01:45:00         NaN
2022-07-01 02:15:00         NaN
                         ...
2022-07-31 21:45:00         NaN
2022-07-31 22:15:00         NaN
2022-07-31 22:45:00         NaN
2022-07-31 23:15:00         NaN
2022-07-31 23:45:00         NaN
Freq: 30T, Name: NEE_CUT_REF_orig, Length: 1488, dtype: float64

# Find gaps in time series

In [3]:
results = sstats(s=series)

# Results

In [4]:
results

              NEE_CUT_REF_orig
STARTDATE     2022-07-01 00:15
ENDDATE       2022-07-31 23:45
PERIOD        30 days 23:30:00
NOV                        718
MISSING                    770
MISSING_PERC         51.747312
MEAN                 -4.845385
SD                    5.904654
VAR                  34.864943
SD/MEAN              -1.218614
MAD                   4.502689
SUM               -3478.986584
MEDIAN               -5.516215
MIN                  -22.40709
MAX                   15.83389
P05                 -13.928686
P25                  -8.364355
P75                  -1.874598
P95                   6.186969

# Finish

In [5]:
from datetime import datetime

dt_string = datetime.now().strftime("%Y-%m-%d %H:%M:%S")
print(f"Finished {dt_string}")

Finished 2023-06-17 16:39:40