![lop](../../images/logo_diive1_128px.png)

<span style='font-size:40px; display:block;'>
<b>
    Calculate stats for time series
</b>
</span>

---
**Notebook version**: `1` (25 Oct 2023)  
**Author**: Lukas HÃ¶rtnagl (holukas@ethz.ch)

# Imports

In [3]:
from diive.configs.exampledata import load_exampledata_parquet
from diive.core.dfun.stats import sstats

# Load example data

In [5]:
data_df = load_exampledata_parquet()
series = data_df['NEE_CUT_REF_orig']
series

Loaded .parquet file F:\Sync\luhk_work\20 - CODING\21 - DIIVE\diive\diive\configs\exampledata\exampledata_CH-DAV_FP2022.5_2013-2022_ID20230206154316_30MIN.parquet (0.049 seconds). Detected time resolution of <30 * Minutes> / 30T

TIMESTAMP_MIDDLE
2013-01-01 00:15:00         NaN
2013-01-01 00:45:00         NaN
2013-01-01 01:15:00         NaN
2013-01-01 01:45:00    0.537565
2013-01-01 02:15:00         NaN
                         ...
2022-12-31 21:45:00         NaN
2022-12-31 22:15:00    3.517950
2022-12-31 22:45:00         NaN
2022-12-31 23:15:00         NaN
2022-12-31 23:45:00         NaN
Freq: 30T, Name: NEE_CUT_REF_orig, Length: 175296, dtype: float64

# Calculate time series stats

In [7]:
results = sstats(s=series)

# Results

In [8]:
results

                NEE_CUT_REF_orig
STARTDATE       2013-01-01 00:15
ENDDATE         2022-12-31 23:45
PERIOD        3651 days 23:30:00
NOV                        58197
MISSING                   117099
MISSING_PERC           66.800726
MEAN                   -3.653026
SD                      6.249538
VAR                    39.056725
SD/MEAN                -1.710784
SUM               -212595.178903
MEDIAN                  -3.18039
MIN                    -40.81112
MAX                    25.290227
P01                   -20.550344
P05                   -14.229386
P25                    -7.556164
P75                     0.630461
P95                     5.510475
P99                    10.946673

# Finish

In [9]:
from datetime import datetime

dt_string = datetime.now().strftime("%Y-%m-%d %H:%M:%S")
print(f"Finished {dt_string}")

Finished 2023-10-25 14:55:39